<!-- Page Heading -->
<div class="container-fluid">
    <h1 class="h3 mb-2 text-gray-800">XEM THIẾT BỊ , Ngày hệ thống: <%= daynow  %></h1>
    
    <div class="card shadow mb-4">
        <!-- <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Database User Views </h6>
        </div> -->
        <div class="card-body">

            <div class="table-responsive">
                <table class="table table-bordered table-striped" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr class="table">
                            <th>STT</th>
                            <th>Tên Thiết Bị</th>
                            <th>Ngày còn lại</th>
                            <th>SL</th>
			    <th>NCC</th>
                            <th>Nhập</th>
                            <th>Tháng</th>
                            <th>DVT</th>
                            
                            <th>SĐT</th>
                            <th>TT</th>
                            <th>Note</th>
			    
                            <th>Username</th>
			    <th>Control</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr class="table">
			    <th>STT</th>
                            <th>Tên Thiết Bị</th>
                            <th>Ngày còn lại</th>
                            <th>SL</th>
			    <th>NCC</th>
                            <th>Nhập</th>
                            <th>Tháng</th>
                            <th>DVT</th>
                            
                            <th>SĐT</th>
                            <th>TT</th>
                            <th>Note</th>

                            <th>Username</th>
			    <th>Control</th>
                        </tr>
                    </tfoot>

                    <tbody>
			<% var stt = 0 %>
                        <% data.forEach((value)=>{ %>
                            <% var bien = value.tentb %>
			<% stt = stt + 1 %>
                                <td>
				<b><%= stt %></b>
				</td>
                                <td>
                                    <%= value.tentb %>
                                </td>
                                <% var so = parseInt(value.songayhethan) %>
                                    <% if (so <= 0) { %>
                                        <td class="orange-text">
                                            <%= so %>
                                        </td>   
                                    <% } else if (so <= 9 && so >= 1) { %>
                                        <td class="red-text">
                                            <%= so %>
                                        </td>   
                                    <% } else if (so <= 19 && so >= 10) { %>
                                        <td class="blue-text">
                                            <%= so %>
                                        </td> 
                                    <% } else if (so <= 30 && so >= 20) { %>  
                                        <td class="green-text">
                                            <%= so %>
                                        </td> 
                                    <% } else { %>   
                                        <td class="black-text">
                                            <%= so %>
                                        </td> 
                                    <% } %>
                                
                                <td>
                                    <%= value.soluong %>
                                </td>
				<td>
                                    <%= value.tenncc %>
                                </td>
                                <td>
                                    <%= value.ngaynhap %>
                                </td>
                                <td>
                                    <%= value.timehethan %>
                                </td>
                                <td>
                                    <%= value.dvt %>
                                </td>
                                
                                <td>
                                    <%= value.sdtncc %>
                                </td>
                                <td >
                                    <%= value.tinhtrang %>
                                </td>
                                <td>
                                    <%= value.ghichu %>
                                </td>
				<td>
                                    <%= value.username %>
                                </td>
				<td>
                                    
                                        <div class="btn btn-info btn-circle btn-sm" onclick="Sua('<%= bien %>')"
                                            data-toggle="modal" data-target="#suamodal">
                                            <i class="fas fa-info-circle"></i>
                                        </div>
                                        <div class="btn btn-danger btn-circle btn-sm" data-toggle="modal"
                                            data-target="#xoauserModal" onclick="Xoatb('<%= bien %>')">
                                            <i class="fas fa-trash">
                                            </i>
                                        </div>
                                        
                                    
                                          
                                </td>
                                
                                
                            </tr>
                            <% }) %>


                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script>
function Sua(bien) {
    _xoa = bien;
    //alert("Chưa có làm ... bấm vui thôi nhé :))")
    // $('#xoauserModal1').html('Bạn chắc chắn muốn xóa <strong>' + _xoa + "</strong> ?");
    // $("#xoauserModal2").html("Delete <strong> " + _xoa + "</strong> ... ???")
    $('#suamodal4').val(_xoa)
    $("#suamodal4").html("Sửa <strong> " + _xoa + "</strong> ... ???")
}
function Xoatb(bien) {
    _xoa = bien;
    //alert('Bạn muốn xoá,', bien)
    // $('#xoauserModal1').html('Bạn chắc chắn muốn xóa <strong>' + _xoa + "</strong> ?");
    $('#xoauserModal2').val(_xoa)
    $("#xoauserModal2").html("Delete <strong> " + _xoa + "</strong> ... ???")
}
</script>
<!-- Page level plugins -->
<script src="/vendor/jquery/jquery.min.js"></script>
 <script src="/vendor/datatables/jquery.dataTables.min.js"></script>
 <script src="/vendor/datatables/dataTables.bootstrap4.min.js"></script>
<script>
  $(document).ready(function() {
    $.noConflict();
    var table = $('#dataTable').DataTable({
	"pageLength": 50
	});
  });
</script>
<style>
    .red-text {
      color: red;
    }
    .yellow-text {
      color: yellow;
    }
    .green-text {
      color: green;
    }
    .black-text {
        color: black;
    }
    .orange-text {
        color: orange;
    }
    .blue-text {
        color: blue;
    }
  </style>