<div class="container">
  <div class="form-row">
    <div class="form-group col-md-12 h4" style="color: blue;">
      Thêm/Chỉnh thông tin thiết bị CNTT/IT (Add/Edit IT Device and Remarks)
    </div>
  </div>


  <form action="updatetb" method="post">
    <div class="form-row">
      <span class="muc1">A.Thông tin người dùng </span>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label>1.Hostname/Mã thiết bị </label>

        <input class="form-control" type="text" placeholder="Hostname/Mã thiết bị" name='txtma' id="id1ma" value="<%= data.Ma %>" readonly />
      </div>
      <div class="form-group col-md-6">
        <label>2.UGDN </label>
        <input class="form-control" type="text" placeholder="UGDN" value="<%= data.UGDN %>" name="txtUGDN" required>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label>3.Email </label>
        <input class="form-control" type="email" placeholder="Email" value="<%= data.email %>" name="txtemail" required>
      </div>
      <div class="form-group col-md-6">
        <label>4.Họ & tên </label>
        <input class="form-control" type="text" placeholder="Họ & tên" value="<%= data.Nguoidung %>" name="txtnguoidung" required>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label>5.Di động</label>
        <input class="form-control" type="text" placeholder="Di động" value="<%= data.Didong %>" name="txtdidong">
      </div>
      <div class="form-group col-md-6">
        <label>6.Headcount</label>
        <select class="custom-select" id="inputGroupSelectheadcount" name="selectheadcount" required>
          <option value='<%= data.headcount %>' selected disabled hidden><%= data.headcount %></option>
          <option value="UPL Vietnam/ Bien Hoa (Amata)">UPL Vietnam/ Bien Hoa (Amata)</option>
          <option value="UPL Vietnam/ HCMc (District 7)">UPL Vietnam/ HCMc (District 7)</option>
          <option value="UPL Vietnam / Ha Noi">UPL Vietnam / Ha Noi</option>
          <option value="UPL Vietnam / Binh Dinh (Closed)">UPL Vietnam / Binh Dinh (Closed)</option>
          <option value="UPL Vietnam / Can Tho">UPL Vietnam / Can Tho</option>
          <option value="AvantaSeed Vietnam / Long An">AvantaSeed Vietnam / Long An</option>
          <option value="Arysta Vietnam / Binh Duong">Arysta Vietnam / Binh Duong</option>
          <option value="UPL Global (India,Indonesia, Japan ..ect)">UPL Global (India,Indonesia, Japan ..ect)</option>
          <option value="Site khác (Other sites)">Site khác (Other sites)</option>
        </select>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label>7.Nơi làm việc</label>
        <select class="custom-select" id="inputGroupSelect01" name="selectnoilamviec" required>
          <option value='<%= data.noilamviec %>' selected disabled hidden><%= data.noilamviec %></option>
          <option value="UPL Vietnam/ Bien Hoa (Amata)">UPL Vietnam/ Bien Hoa (Amata)</option>
          <option value="UPL Vietnam/ HCMc (District 7)">UPL Vietnam/ HCMc (District 7)</option>
          <option value="UPL Vietnam / Ha Noi">UPL Vietnam / Ha Noi</option>
          <option value="UPL Vietnam / Binh Dinh (Closed)">UPL Vietnam / Binh Dinh (Closed)</option>
          <option value="UPL Vietnam / Can Tho">UPL Vietnam / Can Tho</option>
          <option value="AvantaSeed Vietnam / Long An">AvantaSeed Vietnam / Long An</option>
          <option value="Arysta Vietnam / Binh Duong">Arysta Vietnam / Binh Duong</option>
          <option value="UPL Global (India,Indonesia, Japan ..ect)">UPL Global (India,Indonesia, Japan ..ect)</option>
          <option value="Site khác (Other sites)">Site khác (Other sites)</option>
        </select>
      </div>
      <div class="form-group col-md-6">
        <label>8.Bộ Phận</label>
        <select class="custom-select" id="inputGroupSelect01" name="selectbophan" required>
          <option value="<%= data.BoPhan %>" selected disabled hidden><%= data.BoPhan %></option>
          <!-- <option value="QA">QA</option>
          <option value="QC">QC</option>
          <option value="HR">HR</option>
          <option value="Admin">Admin</option>
          <option value="Accounting">Accounting</option>
          <option value="Import & Export">Import & Export</option>
          <option value="Safety/HSE">Safety/HSE</option>
          <option value="PCCC">PCCC</option>
          <option value="Maintenace">Maintenace</option>
          <option value="IT">IT</option>
          <option value="Warehouse">Warehouse</option>
          <option value="Planning">Planning</option>
          <option value="Purchasing">Purchasing</option>
          <option value="BoD">BoD</option>
          <option value="Trợ lý">Trợ lý</option>
          <option value="Legal">Legal</option>
          <option value="Dự Án/Điều phối">Dự Án/Điều phối</option> -->


          <option value="Sản Xuất-Herbicide 1">Sản Xuất-Herbicide 1</option>
          <option value="Sản Xuất-Herbicide 2">Sản Xuất-Herbicide 2</option>
          <option value="Sản Xuất-Herbicide 3">Sản Xuất-Herbicide 3</option>
          <option value="Sản Xuất-Herbicide 4">Sản Xuất-Herbicide 4</option>
          <option value="Sản Xuất-Herbicide 5">Sản Xuất-Herbicide 5</option>
          <option value="Sản Xuất-Insecticide 1">Sản Xuất-Insecticide 1</option>
          <option value="Sản Xuất-Insecticide 2">Sản Xuất-Insecticide 2</option>
          <option value="Sản Xuất-Insecticide 3">Sản Xuất-Insecticide 3</option>
          <option value="Sản Xuất-Insecticide 4">Sản Xuất-Insecticide 4</option>
          <option value="Sản Xuất-Rewinder 1">Sản Xuất-Rewinder 1</option>
          <option value="Sản Xuất-Rewinder 2">Sản Xuất-Rewinder 2</option>
          <option value="Sản Xuất-Rewinder 3">Sản Xuất-Rewinder 3</option>
          <option value="Sản Xuất-Rewinder 4">Sản Xuất-Rewinder 4</option>
          <option value="Sản Xuất-SC-Scada">Sản Xuất-SC-Scada</option>
          <option value="Sản Xuất-Powder 1">Sản Xuất-Powder 1</option>
          <option value="Sản Xuất-Powder 2">Sản Xuất-Powder 2</option>
          <option value="Sản Xuất-Grand 1">Sản Xuất-Grand 1</option>
          <option value="Sản Xuất-Grand 2">Sản Xuất-Grand 2</option>
          <option value="QC-QA : Bộ phận kiểm soát chất lượng">QC-QA : Bộ phận kiểm soát chất lượng</option>
          <option value="QA-Đảm bảo chất lượng">QA-Đảm bảo chất lượng</option>
          <option value="QC-Kiểm soát chất lượng">QC-Kiểm soát chất lượng</option>
          <option value="HR-Nhân sự">HR-Nhân sự</option>
          <option value="HR-Admin : Nhân sự & Hành chánh">HR-Admin : Nhân sự & Hành chánh</option>
          <option value="Admin-Hành chánh ">Admin-Hành chánh </option>
          <option value="Accounting-Kế toán">Accounting-Kế toán</option>
          <option value="Import & Export-Xuất nhập khẩu">Import & Export-Xuất nhập khẩu</option>
          <option value="Safety/HSE-An toàn">Safety/HSE-An toàn</option>
          <option value="PCCC-Phòng cháy chữa cháy ">PCCC-Phòng cháy chữa cháy </option>
          <option value="Maintenace-Bảo trì ">Maintenace-Bảo trì </option>
          <option value="IT-Công nghệ thông tin">IT-Công nghệ thông tin</option>
          <option value="Warehouse-Kho">Warehouse-Kho</option>
          <option value="Planning-Kế hoạch">Planning-Kế hoạch</option>
          <option value="Purchasing-Mua hàng">Purchasing-Mua hàng</option>
          <option value="BoD-Ban giám đốc">BoD-Ban giám đốc</option>
          <option value="Trợ lý">Trợ lý</option>
          <option value="Legal-Pháp lý/Pháp chế ">Legal-Pháp lý/Pháp chế </option>
          <option value="Dự Án/Điều phối">Dự Án/Điều phối</option>
          <option value="Production-Sản xuất chung">Production-Sản xuất chung</option>
          <option value="Sales & Commercial">Sales & Commercial</option>
          <option value="SALES & MARKETING">SALES & MARKETING</option>
          <option value="MARKETING">MARKETING</option>
          <option value="Field Research & Technical Development">Field Research & Technical Development</option>
          <option value="Regulatory Science & Government Affairs">Regulatory Science & Government Affairs</option>
          <option value="Commercial (S and M, TD)">Commercial (S and M, TD)</option>
          <option value="SCM">SCM</option>
          <option value="RD">RD</option>
          <option value="Y tế">Y tế</option>
          <option value="Thu ngân">Thu ngân</option>
          <option value="Lễ tân">Lễ tân</option>
          
        </select>
      </div>
    </div>
    <hr class="hr" />
    <div class="form-row">
      <span class="muc1">B.Thông tin phần cứng</span>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label>9.Loại/Type</label>
        <select class="custom-select" id="inputGroupSelect01" name="selectloai" required>
          <option value='<%= data.Loai %>' selected disabled hidden><%= data.Loai %></option>
          <option value="Desktop-New">Desktop-New</option>
          <option value="Desktop-Old">Desktop-Old</option>
          <option value="Laptop-New">Laptop-New</option>
          <option value="Laptop-Old">Laptop-Old</option>
          <option value="Nhập lại từ kho">Nhập lại từ kho</option>
        </select>
      </div>
      <div class="form-group col-md-6">
        <label>10.Mainboard</label>
        <input class="form-control" type="text" placeholder="Mainboard" value="<%= data.Mainboard %>" name="txtmain" required>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label>11.RAM/Bus RAM</label>
        <input class="form-control" type="text" placeholder="RAM/Bus RAM" value="<%= data.RAM %>" name="txtram" required>
      </div>
      <div class="form-group col-md-6">
        <label>12.CPU</label>
        <input class="form-control" type="text" placeholder="CPU" value="<%= data.CPU %>" name="txtcpu" required>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label>13.HDD/SSD</label>
        <input class="form-control" type="text" placeholder="HDD/SSD" value="<%= data.HardDisk %>" name="txthdd" required>
      </div>
      <div class="form-group col-md-6">
        <label>14.Serial number</label>
        <input class="form-control" type="text" placeholder="Serial number" value="<%= data.serial %>" name="txtserial" required>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label>15.Ngày mua</label>
        <input class="form-control" type="date" placeholder="" value="<%= data.ngaymua %>" name="txtngaymua">
      </div>
      <div class="form-group col-md-6">
        <label>16.Ngày hết hạn</label>
        <input class="form-control" type="date" placeholder="" value="<%= data.ngayhethan %>" name="txtngayhethan">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label>17.Phần mềm</label>
        <textarea class="form-control" rows="5" cols="50" name="txtsoftware" id="textareasoftware" type="text" required><%= data.software %></textarea>
      </div>
    </div>
    <hr class="hr" />
    <div class="form-row">
      <span class="muc1">C. Khác</span>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label>18.Đề xuất</label>
        <textarea class="form-control" rows="5" cols="50" name="txtdexuat" id="textareadx" type="text"><%= data.dexuat %></textarea>
      </div>
      <div class="form-group col-md-6">
        <label>19.Ghi chú</label>
        <textarea class="form-control" rows="5" cols="50" name="txtnotes" id="textareaghichu" type="text"><%= data.notes %></textarea>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label>20.Tình Trạng</label>
        <select class="custom-select" id="inputGroupSelect01" name="selecttinhtrang" required>
          <option value='<%= data.tinhtrang %>' selected disabled hidden><%= data.tinhtrang %></option>
          <option value="dangsudung">Đang sử dụng</option>
          <option value="Lưu kho">Lưu kho</option>
          <option value="thanhly">Thanh lý</option>
        </select>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <!-- <button class="btn btn-secondary float-left" type="reset" id="btnreset">XOÁ</button> -->
        <button class="btn btn-primary float-left" type="submit" id="btnluucapnhat">UPDATE DB</button>

      </div>
    </div>

    <div>
      <input type="text" id="idmathietbi" name="txtmatb" hidden="true" value="<%= data._id %>" />
    </div>
  </form>
</div>
<style>
  .muc1 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: larger;
  }
</style>

